.nav-color{
    background-color: darkgreen;
    padding: 10px;
    color: white;
}

.nav li a{
    color: white;
}

i{
    font-style: normal;
    color: white;
}

h1{
    text-align: center;
    color: darkgreen !important;
}

.perguntas{
    padding: 80px;
}

.verde{
    background-color: rgb(222, 241, 222);
    padding: 80px;
    text-align: center;
}

.verde2{
    background-color: darkgreen;
    text-align: center;
    padding: 30px;
    color: white;
}